<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <div class="pull-left">{{#link-to 'games.index'}}All games{{/link-to}}</div>
      <div class="pull-left">&nbsp;&gt;&nbsp;</div>
      <div class="pull-left">{{model.title}}</div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    {{#if model.note}}
    <p>{{model.note}}</p>
    {{/if}}
    <h4>Cartridges</h4>
    <table class="table">
      <thead>
	<tr>
	  <th>Casing</th>
	  <th>Code</th>
	  <th>Note</th>
	</tr>
      </thead>
      <tbody>
	{{#each cartridges}}
	<tr>
	  <td>{{casing}}</td>
	  <td>{{code}}</td>
	  <td>{{note}}</td>
	</tr>
	{{/each}}
      </tbody>
    </table>
  </div>
</div>
